<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>AddNewItem</ion-title>
  </ion-toolbar>
  <ion-icon
    name="close-circle-outline"
    slot="end"
    size="large"
    (click)="dismiss()"
  ></ion-icon>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-textarea
          label="Task"
          placeholder="Type something here"
          [(ngModel)]="taskName"
        ></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-select
          label="Category"
          placeholder="Pick priority"
          [(ngModel)]="taskCategory"
        >
          <ion-select-option value="low">Low</ion-select-option>
          <ion-select-option value="high">High</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>

        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="datetime" [(ngModel)]="taskDate"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>

      <ion-item>
        <ion-button expand="full" (click)="addTask()">Add task</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
